<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> Project fm Mazo </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'catalog:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'catalog:Category_List' %}">Category List</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'catalog:Product_list' %}">Product List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'catalog:contacts' %}">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'catalog:Rec_list' %}">Records list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'catalog:create' %}">Records add form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'catalog:Product_create' %}">Products create form</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:profile' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
          </li>
        {% else %}
           <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login' %}">Login</a>
          </li>
        {% endif %}


      </ul>
    </div>
  </div>
</nav>